/*Truco para uniformidad de texto entre navegadores*/
html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
}

/*El punto hace referencia a clases*/
.titulo{
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}